# If you want to run this in a fork of this repository, you'll need to add a secret to the Github Repo named
# `HF_API_TOKEN`, containing an API key to Huggingface. The linked account should visit each of the Starcoder models
# and accept the terms of use.

name: Python Unit Tests

on:
  push:
    branches:
      - '*'
    paths:
      - 'src/**/*'
      - '.github/workflows/build_tests.yml'

jobs:
  test:
    name: Run Python Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-sprouts-coupons-${{ hashFiles('**/setup.cfg') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Generate Cache Key for HF Datasets
      id: cache-key
      run: |
        echo "name=hf_data_key::$(find ~/.cache/huggingface/datasets -name '*.lock' | sort | xargs cat | md5sum | cut -d ' ' -f 1)" >> $GITHUB_ENV

    - name: Cache HuggingFace Datasets
      uses: actions/cache@v4
      with:
        path: ~/.cache/huggingface/datasets
        key: ${{ runner.os }}-datasets-cache-${{ env.hf_data_key }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install uv
      uses: astral-sh/setup-uv@v3

    - name: Install dependencies
      run: uv pip install --system -e ".[dev]"

    - name: Run ruff format check
      run: ruff format --check .

    - name: Run ruff lint
      run: ruff check .

    - name: Run mypy
      run: mypy src/sprouts-coupons

    - name: Run unit tests
      run: pytest -v -m unit_build --tb=short